body {
  font-family: "PT Serif";
  margin: 0;
  padding: 0;
  font-size: 20px;

  background-image: url(bg.png);
}

h1.title {
  margin-top: 0;
  text-align: center;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  color: black;
}

.document {
  max-width: 960px;
  background-color: white;
  /*background-color: #EDEFF4;*/
  box-shadow: 0px 0px 10px black;
  margin: auto;
  padding: 20px;
}

pre {
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

  table td, table th {
    border: 1px solid #ccc;
    padding: 2px;
  }
