<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Ruby on Rails Bootcamp</title>
  </head>
  <body>

    <div class="page">
      <%= @body %>
    </div>
    
  </body>
</html>
