@import 'http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope';
@import 'http://fonts.googleapis.com/css?family=Oxygen';
@import 'http://fonts.googleapis.com/css?family=PT+Mono';

body {
  font-family: "Oxygen";
  margin: 0;
  padding: 0;
  font-size: 20px;

  background-image: url(bg.png);
}

a {
  color: #08C;
}

h1, h2, h3 {
  font-family: "PT Serif";
  margin: 0;
}

h1.primary-title {
  font-size: 160%;
  margin-top: 0;
  text-align: center;
}

h1.title {
  margin-top: 0;
  text-align: center;
}

.section {
  /*border: 1px solid #E1E1E8;*/
  /*background-color: #F7F7F9;*/
  /*border-radius: 5px;*/
  /*padding: 5px;*/
  padding-left: 10px;
}


h1.section-heading {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  color: black;
}

.document {
  max-width: 960px;
  background-color: white;
  /*background-color: #EDEFF4;*/
  box-shadow: 0px 0px 10px black;
  margin: auto;
  padding: 20px;
}

pre, .literal {
  color: #333;
  font-family: 'PT Mono';
}

table {
  width: 100%;
  border-collapse: collapse;
}

  table th {
    text-align: center;
    font-weight: bold;
    background-color: #eee;
  }

  table td, table th {
    border: 1px solid #ccc;
    padding: 8px
  }

  table td ul {
    margin: 0;
    padding-left: 20px;
  }

pre, tt.literal {
  /*background-color: #eee;*/
  /*border: 1px solid #ccc;*/
  padding: 1px 2px;
  font-size: 80%;
  border-radius: 3px;
  border: 1px solid #E1E1E8;
  background-color: #F7F7F9;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

.index-page .title {
  display: none;
}

.credits {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(avatar.svg);
  background-repeat: no-repeat;
  background-size: auto 80%;
  padding-top: 100px;
  background-position: center top;
  text-align: center;
}
